<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item mt-5">
      <a class="nav-link active" aria-current="page" href="/order/home">홈</a>
    </li>
    <li class="nav-item mt-5">
      <a class="nav-link" aria-current="page" href="/order/recommend"
        >추천 메뉴</a
      >
    </li>
    <li class="nav-item mt-5">
      <a class="nav-link" href="#">세트 메뉴</a>
    </li>
    <li class="nav-item mt-5">
      <a class="nav-link" href="#">단품</a>
    </li>
    <li class="nav-item mt-5">
      <a class="nav-link" href="#">사이드, 음료</a>
    </li>
  </ul>
</div>
